.font-alpha, .Navbar .Navbar__brand, .Navbar .navbar-collapse .navbar-nav li > a, .footer-container a, body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }

.Navbar {
  background-color: #ffffff;
  height: 56px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
  .Navbar .Navbar__brand {
    font-size: 27px;
    line-height: 20px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-transform: lowercase;
    color: #464646; }
    .Navbar .Navbar__brand:hover {
      text-decoration: none; }
  .Navbar .navbar-collapse {
    float: right; }
    .Navbar .navbar-collapse .navbar-nav {
      padding: 0; }
      .Navbar .navbar-collapse .navbar-nav #menu-primary-navigation {
        float: left; }
      .Navbar .navbar-collapse .navbar-nav li {
        list-style: none;
        display: inline-block;
        padding: 0 10px; }
        .Navbar .navbar-collapse .navbar-nav li > a {
          padding: 17px 0 0 0;
          background: none;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 13px;
          border-bottom: 1px solid transparent;
          color: #464646; }
          .Navbar .navbar-collapse .navbar-nav li > a.btn-default {
            background-color: #7266BD;
            border: 1px solid #7266BD;
            margin-left: 5px;
            padding: 8px 12px;
            border-radius: 3px;
            color: #ffffff;
            opacity: .8; }
            .Navbar .navbar-collapse .navbar-nav li > a.btn-default:hover {
              border: 1px solid #7266BD;
              opacity: 1; }
          .Navbar .navbar-collapse .navbar-nav li > a:hover {
            opacity: 1;
            border-bottom: 1px solid; }
        .Navbar .navbar-collapse .navbar-nav li.active > a {
          background: none;
          border-bottom: 1px solid #3a3a3a; }
          .Navbar .navbar-collapse .navbar-nav li.active > a:hover {
            background: none; }
  @media only screen and (max-width: 1200px) {
    .Navbar {
      overflow: hidden;
      height: auto; }
      .Navbar .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px; }
      .Navbar .navbar-collapse .navbar-nav #menu-primary-navigation {
        margin: 0 0 15px;
        overflow: hidden; } }

.footer-spacer {
  height: 120px;
  position: relative; }

.footer-container {
  overflow: hidden;
  height: 120px;
  padding-top: 30px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: #464646; }
  .footer-container .privacy {
    position: absolute;
    top: 0px;
    color: #464646; }
  .footer-container .privacy {
    right: 0px; }
  .footer-container a {
    color: #464646; }
  .footer-container footer {
    position: relative;
    z-index: 1;
    text-align: center; }
    .footer-container footer nav {
      display: inline-block;
      margin: 0 0 15px 0; }
      .footer-container footer nav ul {
        padding: 0; }
        .footer-container footer nav ul li {
          list-style: none;
          display: inline-block;
          margin: 0 5px; }
    .footer-container footer .footer-nav nav {
      margin: 0; }
    .footer-container footer .footer-copy {
      text-align: center;
      color: #464646; }
    .footer-container footer .footer-social ul {
      margin-bottom: 0; }
    .footer-container footer .footer-social a {
      display: block;
      margin: 0 5px; }
      .footer-container footer .footer-social a i {
        font-size: 1.2em; }

@media all and (max-width: 560px) {
  .footer-spacer {
    display: none; }
  .footer-container {
    position: relative;
    height: auto; }
    .footer-container .copy {
      position: relative; } }

body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  font-size: 16px; }

.text-center {
  text-align: center; }

.s-content a.btn {
  text-decoration: none; }

.s-content p {
  line-height: 1.4em; }

.s-content pre {
  background: #e5e3f3;
  border-left: 0; }

.Page__header {
  padding-top: 20px; }

.Pager li > a {
  border-radius: 3px;
  color: #464646;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold; }

.Columns {
  position: relative;
  z-index: 2;
  height: auto;
  min-height: 100vh;
  background-color: #f5f5f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
  .Columns .Columns__right,
  .Columns .Columns__left {
    float: none;
    height: inherit; }
  .Columns .doc_content {
    position: relative;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

.Columns__right--float .s-content pre {
  background: #ebeaf6;
  border-left: 0;
  margin-left: -5px; }
  .Columns__right--float .s-content pre code {
    padding: 5px; }

.Columns__right--float .Columns__right__content {
  background-color: #f9f9f9 !important; }

.Collapsible__content > .Nav {
  padding-top: 6px; }

.Nav__item a {
  padding: 8px 15px 8px 25px; }

.Nav__item--active > a,
.Nav__item--open > a {
  background-color: #ddd !important; }

.btn {
  font-size: 16px;
  border-radius: 3px;
  text-decoration: none; }

.btn-primary {
  color: #fff;
  background-color: #7266BD;
  border-color: #7266BD;
  -webkit-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    background-color: #7266BD;
    border-color: #7266BD;
    opacity: 0.9; }

.btn-bold {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px; }

.HomepageContent {
  padding-top: 70px;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
  .HomepageContent .home-item div {
    min-height: 75px; }
